html,body{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/background\ skyrim.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


img{
justify-content: space-around;
flex: 1;
margin: 2;
}

.p1{
    font-family:'Times New Roman', Times, serif

}

.p1{
    font-size: 110%;
}