.html,body{
    background-image: url(../img/irithyl.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.ds3{
    display: flex;
    justify-content: center;
    
    
}

.container{
    
}