html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.panels{
    height: 100vh;
    width: 100vw;
    display:flex;
}
.panel{
    height: 100%;
    flex: 1;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition : flex .7s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}
.panel:hover{
    flex:5;
}
.panel:hover>.titreJeu{
    opacity: 100%;
}
.DS3{ 
    background-image: url("../img/Truesoul\ of\ cinder.jpg");
    background-position: center;
}
.FFXIV{
    background-image: url("../img/endwalker.jpg");
    
}
.TESOV{
    background-image: url("../img/dragonborn.jpg");
}



.row{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  
}


.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}

