html,body{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/background\ skyrim.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}